//Font Weights

$Fw-regular: 400;
$Fw-medium: 500;
$Fw-semiBold: 600;
$Fw-bold: 700;
$Fw-extraBold: 800;

//Font Family

$Ff-primary: 'Libre Franklin', sans-serif;

// Colors

$Clr-Primary-Blue: hsl(223, 87%, 63%);
$Clr-secondary-PaleBlue: hsl(223, 100%, 88%);
$Clr-secondary-LightRed: hsl(354, 100%, 66%);
$Clr-neutral-Gray: hsl(0, 0%, 59%);
$Clr-neutral-VeryDarkBlue: hsl(209, 33%, 12%);
