@import 'variables.scss';
@import 'mixins.scss';
@import 'resets.scss';

body {
	font-size: 20px;
	font-family: $Ff-primary;
	display: grid;
	justify-items: center;
}
.pingLaunch {
	display: grid;
	grid-template-columns: 1fr;
	width: 40rem;
	justify-items: center;
	padding: 5.4rem 0 0 0;
	&__logo {
		margin-bottom: 2.8rem;
	}
	&__title {
		font-weight: $Fw-regular;
		color: $Clr-neutral-Gray;
		font-size: 2.8125rem;
		margin-bottom: 1rem;
		& b {
			color: $Clr-neutral-VeryDarkBlue;
		}
	}
	&__subtitle {
		color: $Clr-neutral-Gray;
		font-size: 1.25rem;
		font-weight: $Fw-regular;
		margin-bottom: 2.5rem;
	}
	&__form {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 12.5rem;
		gap: 1rem;
		margin-bottom: 5.37rem;
		position: relative;
		&-email {
			border: none;
			border-radius: 1.75rem;
			padding: 1rem 2rem;
			color: $Clr-neutral-Gray;
			font-size: 1rem;
			font-weight: $Fw-regular;
			width: 100%;
			border: 1px solid $Clr-neutral-Gray;
			&:focus {
				outline: none;
			}
			&:invalid {
				border: 1px solid $Clr-secondary-LightRed;
			}
			&-error {
				display: none;
				color: $Clr-secondary-LightRed;
				font-size: 0.75rem;
				font-style: italic;
				font-weight: $Fw-medium;
				left: 32px;
				position: absolute;
				bottom: -20px;
			}
		}
		&-submit {
			border: none;
			border-radius: 1.75rem;
			padding: 1rem;
			color: #fff;
			font-size: 1rem;
			font-weight: $Fw-bold;
			background-color: $Clr-Primary-Blue;
			cursor: pointer;
			box-shadow: 0px 4px 8px 0px rgba(79, 125, 243, 0.25);
		}
	}
	&__dashboard {
		width: 40rem;
		margin-bottom: 4.5rem;
	}
	&__footer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0.7rem;
		place-items: center;
		margin-bottom: 1.7rem;
		&-socialIcons {
			display: grid;
			place-items: center;
			height: 32px;
			width: 32px;
			border: 1px solid $Clr-secondary-PaleBlue;
			border-radius: 50%;
			&-facebook,
			&-twitter,
			&-instagram {
				height: 16px;
				fill: $Clr-Primary-Blue;
			}
		}
	}
	&__copyright {
		color: $Clr-neutral-Gray;
		font-size: 0.75rem;
		font-weight: $Fw-regular;
	}
}
@media (max-width: 750px) {
	.pingLaunch {
		padding: 10.63rem 0;
		&__logo {
			margin-bottom: 4.68rem;
			height: 2rem;
		}
		&__subtitle {
			margin-bottom: 4rem;
		}
		&__form {
			grid-template-columns: 1fr;
			padding: 0 2rem 0 2rem;
			margin-bottom: 8.5rem;
			&-email,
			&-submit {
				padding: 1.3rem 4rem;
				border-radius: 2.4375rem;
				font-size: 1.5rem;
			}
			&-email-error {
				position: static;
				margin-bottom: 2rem;
				font-size: 20px;
				justify-self: center;
			}
		}
		&__dashboard {
			margin-bottom: 15.06rem;
		}
		&__footer {
			margin-bottom: 3.63rem;
			&-socialIcons {
				&-facebook,
				&-twitter,
				&-instagram {
					height: 32px;
				}
				height: 64px;
				width: 64px;
				border: 2px solid $Clr-secondary-PaleBlue;
				border-radius: 50%;
			}
		}
		&__copyright {
			font-size: 1.25rem;
		}
	}
}
